<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Off">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <variable name="defaultLayout"
              value="${longdate} | ${level:uppercase=true} | ${mdlc:item=Scope} ${message}${onexception:${newline}${exception:format=tostring}" />

    <targets>
        <target xsi:type="Console" name="console" layout="${defaultLayout}" />
        <target xsi:type="File" name="file" fileName="_files/logs/Template.API/api-logs-${shortdate}.log"
                layout="${defaultLayout}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="console" />
        <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
</nlog>